@use '../../settings/_variable' as v;
@use '../../settings/_mixin' as r;
@use '../../settings/_path' as p;

.p-top {
	&__swiper {
		@include r.pc {
			width: 100%;
			height: 100vh;
		}

		.swiper-pagination {
			@include r.pc {
				right: auto !important;
				left: 20px;
			}
			&-bullet {
				margin: 10px !important;
				background: v.$color1;
				border-radius: 0;
				transform: rotate(45deg);

				@include r.sp {
					margin: 5px !important;
				}
			}
		}
	}

	&1 {
	}

	&2 {
		position: relative;
		background: url(p.$path + "images/top/bg-about.jpg") center center/ cover no-repeat;

		@include r.pc {
			height: 100vh !important;
		}

		@include r.sp {
			padding: 60px 0;
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba($color: v.$base-color, $alpha: 0.3);
		}

		.c-block1 {
			z-index: 2;

			@include r.pc {
				position: absolute;
				width: 100%;
				z-index: 2;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			@include r.sp {
				position: relative;
			}
		}
	}

	&3 {
		position: relative;

		@include r.pc {
			height: 100%;
		}

		@include r.sp {
			padding: 40px 0 30px;
		}

		&__inner {
			@include r.pc {
				max-width: 1010px;
				position: absolute;
				width: 100%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.c-title1 {
			margin-bottom: 40px;
		}

		.c-list1 {
			margin-bottom: 60px;

			@include r.sp {
				margin-bottom: 40px;
			}

			&__item {
				&:nth-child(1) {
					@include r.pc {
						margin-top: 50px;
					}
				}

				&:nth-child(2) {
					@include r.pc {
						margin-top: 25px;
					}
				}
			}
		}
	}

	&4 {
		position: relative;

		@include r.pc {
			height: 100%;
		}

		@include r.sp {
			padding: 60px 10px 40px;
		}

		&__inner {
			@include r.pc {
				position: absolute;
				width: 100%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.c-slider1 {
			margin-top: 60px;
			margin-bottom: 60px;

			@include r.sp {
				margin-top: 30px;
				margin-bottom: 30px;
			}
		}
	}

	&5 {
		position: relative;

		@include r.pc {
			height: 100%;
			background: url(p.$path + "images/top/bg-sec5.png") center center/ cover no-repeat;
		}

		@include r.sp {
			padding: 40px 10px;
		}

		&__inner {
			@include r.pc {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				transform: translate(-50%, -50%);
			}
		}

		.c-slider2 {
			margin-top: 60px;
			margin-bottom: 60px;

			@include r.sp {
				margin-top: 30px;
				margin-bottom: 30px;
			}
		}
	}

	&6 {
		position: relative;

		@include r.pc {
			height: 100%;
		}

		@include r.sp {
			padding-top: 60px;
		}

		&__inner {
			@include r.pc {
				position: absolute;
				width: 100%;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
			}

			.c-slider3 {
				margin: 60px 0 100px;

				@include r.sp {
					margin: 30px 0 60px;
				}
			}
		}

		.c-gallery1 {
			margin-bottom: 130px;

			@include r.sp {
				margin-bottom: 50px;
			}
		}
	}
}
