@use "../settings/variable"as v;
@use "../settings/mixin"as r;
@use "../settings/_path"as p;

/*------------------------------------------------------------
title
------------------------------------------------------------*/

.c-title1 {
	@include r.notoSerifJp();
	font-size: 4.6rem;
	font-weight: 700;
	color: v.$base-color;
	text-align: center;
	text-transform: uppercase;

	@include r.sp {
		font-size: 3.6rem;
	}

	&.is-large {
		font-size: 6rem;
		font-weight: 700;
		@include r.notoSerifJp();
		color: v.$base-color;

		@include r.sp {
			font-size: 3.3rem;
		}
	}
}

.c-title2 {
	font-size: 4rem;
	@include r.notoSerifJp();
	font-weight: 700;

	@include r.sp {
		font-size: 2.5rem;
	}

	&.is-center {
		text-align: center;
	}
}

.c-title3 {
	display: inline-block;
	font-size: 3rem;
	font-weight: 700;
	@include r.notoSerifJp();
	background: url(p.$path + "images/common/line-dots.png") repeat-x left bottom/auto 3px;
	padding-bottom: 5px;
	text-transform: uppercase;

	@include r.sp {
		font-size: 2rem;
	}
}

.c-title4 {
	font-size: 2.5rem;
	font-weight: 700;
	@include r.notoSerifJp();

	@include r.sp {
		font-size: 1.8rem;
	}
}
